<section id="about-section" class="about-section section theme-bg-light">
	<div class="container">
		<h3 class="section-heading text-center mb-3">DevRel/Japan CONFERENCE 2022について</h3>
		<div class="section-intro single-col-max mx-auto mb-4">
			DevRel/Japan CONFERENCE 2022はDevRel（Developer Relations）に関する日本唯一、日本語によるカンファレンスです。2015年より運営されているDevRel Meetup in Tokyoが主催しています。<br />
			このカンファレンスを通じて開発者向けマーケティング、コミュニティ、開発者としてのキャリアに関する知見、最新テクニックが手に入れられることでしょう。
		</div>
		<h4 class="section-heading text-center mb-3">マルチプレイスとは？</h4>
		<div class="section-intro single-col-max mx-auto mb-4">
			<p>本カンファレンスの特徴は<strong>マルチプレイス</strong>です。従来、カンファレンスは1つの場所で開催されるものでした。しかし、それでは開催場所までの移動で負担が大きかったり、宿泊なども必要です。コロナ禍になって、大人数で集まりづらくなり、多くのカンファレンスがオンライン開催を余儀なくされています。しかし、オンライン開催ではオフラインの時にあったコミュニケーションが難しく、気分も盛り上がりづらいものです。</p>
			<p>そこでDevRel/Japan CONFERENCE 2022では日本各地に開催場所を用意します。参加者の方は好きな開催場所に行き、カンファレンスとコミュニケーションを楽しめます。各地から登壇する方もいるでしょうし、ただ眺めるだけでない新しいカンファレンス体験を感じてください。</p>
			<hr />
			現在、開催場所を運営してくれるベニューオーガナイザーを募集しています。日本各地、場所は問いません。あなたが開催したいと思った場所、そこがDevRel/Japan CONFERENCE 2022の会場です！会場費などは運営が負担しますので、ぜひご連絡ください！
		</div>
		<div class="benefits-list text-center mb-3">
			<h4 class="text-center mb-4">あなたが以下のいずれかに当てはまるなら参加すべきです！</h4>
			<ul class="list-unstyled text-start d-inline-block">
				<li><i class="fas fa-check-circle me-2"></i>開発者としてのキャリアの可能性を知りたい</li>
				<li><i class="fas fa-check-circle me-2"></i>開発者向けにサービスを提供している</li>
				<li><i class="fas fa-check-circle me-2"></i>DevRelに仕事として関わっている</li>
				<li><i class="fas fa-check-circle me-2"></i>マーケティングの仕事をしている</li>
				<li><i class="fas fa-check-circle me-2"></i>開発者コミュニティが好き</li>
				<li><i class="fas fa-check-circle me-2"></i>DevRelが何か知りたい</li>
				<li><i class="fas fa-check-circle me-2"></i>APIを提供している</li>
				<li><i class="fas fa-check-circle me-2"></i>DevRelが好き!!</li>
			</ul>
		</div><!--//benefits-list-->
		<div class="event-countdown text-center mb-3">		   
			<h4 class="countdown-intro mb-2 text-center mb-3">イベントまで後…</h4>
			<div id="countdown-box" class="countdown-box"></div>
		</div><!--//event-countdown-->
		<div class="about-cta text-center mb-5">
			<!-- <a class="btn btn-secondary btn-lg  mb-5" href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/devconf-free-bootstrap-4-conference-template-for-tech-conferences-and-events/" target="_blank">Get Your Ticket Today</a> -->
			<a class="btn btn-secondary btn-lg  mb-5" href="https://devrel.connpass.com/event/247271/">チケットを購入する</a>
		</div>
	</div><!--//container-->

	<div class="media-block theme-bg-primary py-5">
		<div class="container">
			<h4 class="text-white text-center mb-3">過去のカンファレンス</h4>
			<div class="section-intro text-center single-col-max mx-auto text-white mb-5">
				DevRel/Japan CONFERENCEは2019、2021と開催しています<br />（2020はDevRel/Asiaの一部として開催）。こちらはその動画（一部）です。
			</div>
			<div class="row gx-5">
				<div class="col-12 col-md-6 mb-3">
					<div class="ratio ratio-16x9">
						<iframe src="https://www.youtube.com/embed/NWiAIgoDhiY" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div><!--//embed-responsive -->
				</div><!--//col-->
				<div class="col-12 col-md-6 mb-md-5">
					<div class="ratio ratio-16x9">
						<iframe src="https://www.youtube.com/embed/7Hzbe8u3q1E" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div><!--//embed-responsive -->
				</div><!--//col-->
			</div><!--//row-->
		</div><!--//container-->
	</div><!--//media-block-->
</section><!--//about-section-->
