
{% assign speaker=include.speaker %}
	<!-- Modal Speaker -->
	<div class="modal modal-speaker modal-speaker-{{ speaker.id }}" id="modal-speaker-{{ speaker.id }}" tabindex="-1" role="dialog" aria-labelledby="speaker-1-ModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 id="speaker-1-ModalLabel" class="modal-title sr-only">{{ speaker.name }}</h4>
				</div>
				<div class="modal-body p-0">
					<div class="theme-bg-light p-5">
						<div class="row">
							<div class="col-12 col-md-auto text-center">
							    <img class="profile-image mb-3 mb-md-0 me-md-4 rounded-circle mx-auto" src="{{ site.baseurl }}/assets/images/speakers/{{ speaker.id }}.jpg" alt="" />
							</div>
							<div class="col text-center text-md-start mx-auto">
								<h2 class="name mb-2">{{ speaker.name }}</h2>
								<div class="meta">{{ speaker.company }}</div>
								<div class="meta mb-2">{{ speaker.title }}</div>
								<ul class="social-list list-inline mb-0">								
									{% if speaker.twitter != '' %}
										<li class="list-inline-item"><a  href="{{ speaker.twitter }}" target="_blank">
											<i class="fab fa-twitter fa-fw"></i></a>
										</li>
									{% endif %}
									{% if speaker.linkedin != '' %}
										<li class="list-inline-item"><a  href="{{ speaker.linkedin }}" target="_blank">
											<i class="fab fa-linkedin-in fa-fw"></i></a>
										</li>
									{% endif %}
									{% if speaker.github != '' %}
										<li class="list-inline-item"><a  href="{{ speaker.github }}" target="_blank">
											<i class="fab fa-github fa-fw"></i></a>
										</li>
									{% endif %}
									{% if speaker.web != '' %}
										<li class="list-inline-item"><a  href="{{ speaker.web }}" target="_blank">
											<i class="fas fa-globe"></i></a>
										</li>
									{% endif %}
								</ul><!--//social-list--> 
							</div><!--//col-->
						</div><!--//row-->
					</div>
					<div class="desc p-4 p-lg-5">
						{{ speaker.profile | markdownify }}
					</div>
				</div><!--//modal-body-->
			</div><!--//modal-content-->
		</div><!--//modal-dialog-->
	</div><!--//modal-->
