<section id="schedule-section" class="schedule-section section">
	<div class="container">
		<h3 class="section-heading text-center mb-5">スケジュール</h3>
		
		<!-- Nav tabs -->
		<ul class="schedule-nav nav nav-pills nav-fill">
			<li class="nav-item me-2">
				<a class="nav-link active" id="tab-1" data-bs-toggle="tab" href="#tab-1-content" role="tab" aria-controls="tab-1-content" aria-selected="true">
					<span class="heading">前夜祭</span>
					<span class="meta">8月5日(金)</span>
				</a>
			</li>
		</ul>

		<!-- Tab panes -->
		<div class="schedule-tab-content tab-content">
			<div class="tab-pane active">
				{% assign session = site.data.sessions | where: "day", "5" %}
				{% assign session = session[0] %}
				<div class="item item-talk"> <!-- <div class="item item-other"> -->
					<div class="meta">
						<h4 class="time mb-3">{{ session.start }} - {{ session.end }}</h4>
					</div><!--//meta-->
					<div class="content">
						{% include session_list.html session=session %}
					</div>
				</div>
			</div><!--//tab-1-content-->
		</div><!--//schedule-tab-content-->
		
		<!-- Nav tabs -->
		<ul class="schedule-nav nav nav-pills nav-fill">
			<li class="nav-item me-2">
				<a class="nav-link active" id="tab-2" data-bs-toggle="tab" href="#tab-2-content" role="tab" aria-controls="tab-2-content" aria-selected="false">
					<span class="heading">当日</span>
					<span class="meta">8月6日(土)</span>
				</a>
			</li>
		</ul>
		
		<!-- Tab panes -->
		<div class="schedule-tab-content tab-content">
			<div class="tab-pane active" id="tab-1-content" role="tabpanel" aria-labelledby="tab-1">
				<div class="item item-talk"> <!-- <div class="item item-other"> -->
					<div class="meta">
						<h4 class="time mb-3">13:00</h4>
					</div><!--//meta-->
					<div class="content">
						<h3 class="title mb-10">開催の挨拶</h3>
						<div class="location mb-3"><i class="fas fa-map-marker-alt me-2"></i>トラック A</div>
						<ul class="profile" style="padding-left: 0">
						</ul><!--//profile-->
						<div class="desc">
						</div>
					</div>
				</div>
				{% assign times = "13:10,14:10,15:10,16:10,17:10" | split: ',' %}
				{% for time in times %}
					{% assign sessions = site.data.sessions | where: "start", time %}
					{% assign first_session = sessions[0] %}
					<div class="item item-talk"> <!-- <div class="item item-other"> -->
						<div class="meta">
							<h4 class="time mb-3">{{ first_session.start }} - {{ first_session.end }}</h4>
						</div><!--//meta-->
						<div class="content" style="display: flex;">
							{% for session in sessions %}
								<div style="width:45%;padding: 1%">
									{% include session_list.html session=session %}
								</div>
							{% endfor %}
						</div>
					</div>
				{% endfor %}
				<div class="item item-talk"> <!-- <div class="item item-other"> -->
					<div class="meta">
						<h4 class="time mb-3">18:05 - 19:10</h4>
					</div><!--//meta-->
					<div class="content">
						<h3 class="title mb-10">懇親会&LT</h3>
						<div class="location mb-3"><i class="fas fa-map-marker-alt me-2"></i>トラック A</div>
						<ul class="profile" style="padding-left: 0">
						</ul><!--//profile-->
						<div class="desc">
							{% for lt in site.data.lts %}
								{% assign speaker = site.data.speakers | where: "id", lt.speaker %}
								{% assign speaker = speaker[0] %}
								<div class="row" style="padding-top: 0.5em;">
									<div class="col-3 text-center">
										<a href="{{ site.baseurl }}/speakers/{{ lt.speaker }}/">
											<img class="profile-image rounded-circle" width="100%" src="{{ site.baseurl }}/assets/images/speakers/{{ lt.speaker }}.jpg" alt="">
										</a>
										<div class="name text-center">
											<a href="{{ site.baseurl }}/speakers/{{ lt.speaker }}/">
												{{ speaker.name }}
											</a>
										</div>
									</div>
									<div class="col-9">
										<div class="row">
											<div class="col-12">
												<h5>
													<a href="#modal-speaker-{{ lt.id }}" data-bs-toggle="modal" data-bs-target="#modal-speaker-{{ lt.id }}">
														{{ lt.title}}
													</a>
												</h5>
											</div>
											<div class="col-12">
												{{ lt.summary | truncate: 100 }}
											</div>
										</div>
									</div>
								</div>

								<div class="modal modal-speaker modal-speaker-{{ lt.id }}" id="modal-speaker-{{ lt.id }}" tabindex="-1" role="dialog" aria-labelledby="speaker-{{ lt.id }}-ModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true">&times;</button>
												<h4 id="speaker-1-ModalLabel" class="modal-title sr-only">{{ speaker.name }}</h4>
											</div>
											<div class="modal-body p-0">
												<div class="theme-bg-light p-5">
													<div class="row">
														<div class="col-12 col-md-auto text-center">
																<img class="profile-image mb-3 mb-md-0 me-md-4 rounded-circle mx-auto" src="{{ site.baseurl }}/assets/images/speakers/{{ lt.speaker }}.jpg" alt="" />
														</div>
														<div class="col text-center text-md-start mx-auto">
															<h2 class="name mb-2">{{ speaker.name }}@{{ speaker.company }}</h2>
															<ul class="social-list list-inline mb-0">
																{% if speaker.twitter != '' %}
																	<li class="list-inline-item"><a  href="{{ speaker.twitter }}" target="_blank">
																		<i class="fab fa-twitter fa-fw"></i></a>
																	</li>
																{% endif %}
																{% if speaker.linkedin != '' %}
																	<li class="list-inline-item"><a  href="{{ speaker.linkedin }}" target="_blank">
																		<i class="fab fa-linkedin-in fa-fw"></i></a>
																	</li>
																{% endif %}
																{% if speaker.github != '' %}
																	<li class="list-inline-item"><a  href="{{ speaker.github }}" target="_blank">
																		<i class="fab fa-github fa-fw"></i></a>
																	</li>
																{% endif %}
																{% if speaker.web != '' %}
																	<li class="list-inline-item"><a  href="{{ speaker.web }}" target="_blank">
																		<i class="fas fa-globe"></i></a>
																	</li>
																{% endif %}
															</ul><!--//social-list--> 
														</div><!--//col-->
													</div><!--//row-->
												</div>
												<div class="desc p-4 p-lg-5">
													{{ lt.description | markdownify }}
												</div>
											</div><!--//modal-body-->
										</div><!--//modal-content-->
									</div><!--//modal-dialog-->
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
				<div class="item item-talk"> <!-- <div class="item item-other"> -->
					<div class="meta">
						<h4 class="time mb-3">19:10</h4>
					</div><!--//meta-->
					<div class="content">
						<h3 class="title mb-10">ありがとう！ &amp;&amp; おしまい！</h3>
						<div class="location mb-3"><i class="fas fa-map-marker-alt me-2"></i>トラック A</div>
						<ul class="profile" style="padding-left: 0">
						</ul><!--//profile-->
						<div class="desc">
						</div>
					</div>
				</div>
			</div>
		</div><!--//schedule-tab-content-->
	</div><!--//container-->
</section><!--//schedule-section-->
