<section id="schedule-section" class="schedule-section section">
	<div class="container">
		<h3 class="section-heading text-center mb-5">スケジュール</h3>
		
		<!-- Nav tabs -->
		<ul class="schedule-nav nav nav-pills nav-fill">
			<li class="nav-item me-2">
				<a class="nav-link active" id="tab-1" data-bs-toggle="tab" href="#tab-1-content" role="tab" aria-controls="tab-1-content" aria-selected="true">
					<span class="heading">前夜祭</span>
					<span class="meta">8月5日(金)</span>
				</a>
			</li>
		</ul>

		<!-- Tab panes -->
		<div class="schedule-tab-content tab-content">
			<div class="tab-pane active">
				{% assign session = site.data.sessions | find: "day", 5 %}
				<div class="item item-talk"> <!-- <div class="item item-other"> -->
					<div class="meta">
						<h4 class="time mb-3">{{ session.start }} - {{ session.end }}</h4>
					</div><!--//meta-->
					<div class="content">
						{% include session_list.html session=session %}
					</div>
				</div>
			</div><!--//tab-1-content-->
		</div><!--//schedule-tab-content-->
		
		<!-- Nav tabs -->
		<ul class="schedule-nav nav nav-pills nav-fill">
			<li class="nav-item me-2">
				<a class="nav-link active" id="tab-2" data-bs-toggle="tab" href="#tab-2-content" role="tab" aria-controls="tab-2-content" aria-selected="false">
					<span class="heading">当日</span>
					<span class="meta">8月6日(土)</span>
				</a>
			</li>
		</ul>
		
		<!-- Tab panes -->
		<div class="schedule-tab-content tab-content">
			<div class="tab-pane active" id="tab-1-content" role="tabpanel" aria-labelledby="tab-1">
				<div class="item item-talk"> <!-- <div class="item item-other"> -->
					<div class="meta">
						<h4 class="time mb-3">13:00</h4>
					</div><!--//meta-->
					<div class="content">
						<h3 class="title mb-10">開催の挨拶</h3>
						<div class="location mb-3"><i class="fas fa-map-marker-alt me-2"></i>トラック A</div>
						<ul class="profile" style="padding-left: 0">
						</ul><!--//profile-->
						<div class="desc">
						</div>
					</div>
				</div>
				{% assign times = "13:10,14:10,15:10,16:10,17:10" | split: ',' %}
				{% for time in times %}
					{% assign sessions = site.data.sessions | where: "start", time %}
					{% assign first_session = sessions[0] %}
					<div class="item item-talk"> <!-- <div class="item item-other"> -->
						<div class="meta">
							<h4 class="time mb-3">{{ first_session.start }} - {{ first_session.end }}</h4>
						</div><!--//meta-->
						<div class="content" style="display: flex;">
							{% for session in sessions %}
								<div style="width:45%;padding: 1%">
									{% include session_list.html session=session %}
								</div>
							{% endfor %}
						</div>
					</div>
				{% endfor %}
				<div class="item item-talk"> <!-- <div class="item item-other"> -->
					<div class="meta">
						<h4 class="time mb-3">18:05 - 18:40</h4>
					</div><!--//meta-->
					<div class="content">
						<h3 class="title mb-10">懇親会&LT</h3>
						<div class="location mb-3"><i class="fas fa-map-marker-alt me-2"></i>トラック A</div>
						<ul class="profile" style="padding-left: 0">
						</ul><!--//profile-->
						<div class="desc">
						</div>
					</div>
				</div>
				<div class="item item-talk"> <!-- <div class="item item-other"> -->
					<div class="meta">
						<h4 class="time mb-3">18:40</h4>
					</div><!--//meta-->
					<div class="content">
						<h3 class="title mb-10">ありがとう！ &amp;&amp; おしまい！</h3>
						<div class="location mb-3"><i class="fas fa-map-marker-alt me-2"></i>トラック A</div>
						<ul class="profile" style="padding-left: 0">
						</ul><!--//profile-->
						<div class="desc">
						</div>
					</div>
				</div>
			</div>
		</div><!--//schedule-tab-content-->
	</div><!--//container-->
</section><!--//schedule-section-->
