<section id="schedule-section" class="schedule-section section">
	<div class="container">
		<h3 class="section-heading text-center mb-5">スケジュール</h3>
		
		<!-- Nav tabs -->
		<ul class="schedule-nav nav nav-pills nav-fill" id="myTab" role="tablist">
			<li class="nav-item me-2">
				<a class="nav-link active" id="tab-1" data-bs-toggle="tab" href="#tab-1-content" role="tab" aria-controls="tab-1-content" aria-selected="true">
					<span class="heading">前夜祭</span>
					<span class="meta">8月5日(金)</span>
				</a>
			</li>
			<li class="nav-item me-2">
				<a class="nav-link" id="tab-2" data-bs-toggle="tab" href="#tab-2-content" role="tab" aria-controls="tab-2-content" aria-selected="false">
					<span class="heading">当日</span>
					<span class="meta">8月6日(土)</span>
				</a>
			</li>
		</ul>
		
		<!-- Tab panes -->
		<div class="schedule-tab-content tab-content">
			<div class="tab-pane active" id="tab-1-content" role="tabpanel" aria-labelledby="tab-1">
				<h4 class="text-center py-5 text-muted">19〜22時（詳細は後日）</h4>
				{% comment %}
				<div class="item item-talk"> <!-- <div class="item item-other"> -->
					<div class="meta">
						<h4 class="time mb-3">9:00 - 9:30</h4>
						<div class="profile">
							<a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1"><img class="profile-image rounded-circle  mb-2" src="{{ site.baseurl }}/assets/images/speakers/speaker-1.jpg" alt=""></a>
							<div class="name"><a class="theme-link" href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">James Doe</a></div>
						</div><!--//profile-->
					</div><!--//meta-->
					<div class="content">
						<h3 class="title mb-3">Best Practices And Tips For A Clean Angular Application</h3>
						<div class="location mb-3"><i class="fas fa-map-marker-alt me-2"></i>Conference Room A</div>
						<div class="desc">Talk's summary goes here. <strong>You can hook up the speaker profile image/name on the left with his or her bio modal window</strong>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis ornare nibh, pulvinar posuere justo. Aenean laoreet nunc a eleifend lacinia. Phasellus dignissim augue at consectetur ullamcorper. </div>
					</div><!--//content-->
				</div><!--//item-->
				{% endcomment %}
			</div><!--//tab-1-content-->
			<div class="tab-pane no-timeline" id="tab-2-content" role="tabpanel" aria-labelledby="tab-2">
				<h4 class="text-center py-5 text-muted">13〜18時（詳細は後日）</h4>
			</div><!--//tab-2-content-->
		</div><!--//schedule-tab-content-->
		<div class="schedule-cta text-center mx-auto">
			<!-- <a href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/devconf-free-bootstrap-4-conference-template-for-tech-conferences-and-events/" class="btn btn-secondary btn-lg d-block d-md-inline-block" target="_blank">参加申し込みはこちら</a> -->
		</div>
	</div><!--//container-->
</section><!--//schedule-section-->
