{% assign session = include.session %}
		<h3 class="title mb-10">テーマ: {{ session.theme }}<br />
			{% if session.title == "" %}
			<a href="{{ site.baseurl }}/sessions/{{ session.id }}/">後ほどアップデート</a></h3>
			{% else %}
			<a href="{{ site.baseurl }}/sessions/{{ session.id }}/">{{ session.title }}</a></h3>
			{% endif %}
		<div class="location mb-3"><i class="fas fa-map-marker-alt me-2"></i>トラック {{ session.track }}</div>
		<div class="row">
			<div class="col-{% if session.panelist == "4"%}2{% else %}3{% endif %}">
				{% assign moderator = site.data.speakers | where: "id", session.moderator %}
				{% assign moderator = moderator[0] %}
				<a href="{{ site.baseurl }}/speakers/{{ session.moderator }}/">
					<img class="profile-image rounded-circle" width="100%" src="{{ site.baseurl }}/assets/images/speakers/{{ session.moderator }}.jpg" alt="">
				</a>
				<div class="name text-center">
					<a href="{{ site.baseurl }}/speakers/{{ session.moderator }}/">
						{{ moderator.name }}
					</a>
				</div>
			</div>
			{% for panelist in session.panelists %}
				<div class="col-{% if session.panelist == "4"%}2{% else %}3{% endif %}">
					<a href="{{ site.baseurl }}/speakers/{{ panelist.id }}/">
						<img class="profile-image rounded-circle" width="100%" src="{{ site.baseurl }}/assets/images/speakers/{{ panelist.id }}.jpg" alt="">
					</a>
					<div class="name text-center">
						<a href="{{ site.baseurl }}/speakers/{{ panelist.id }}/">
							{{ panelist.name }}
						</a>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="desc">
			{{ session.description }}
		</div>
