
<section id="sponsors-section" class="sponsors-section section">
	<div class="container">
		<h3 class="section-heading text-center mb-3">スポンサー&amp;パートナー</h3>
		<div class="section-intro text-center single-col-max mx-auto mb-5">
			<p>
				DevRel/Japan CONFERENCE 2022はDevRelに関する日本唯一のカンファレンスです。
			</p>
			<p>
				他にはない価値が提供されます。ぜひカンファレンスをサポートしてください！
			</p>
		</div>
		<div class="row logos justify-content-center">
			{% assign gold = site.data.sponsors | where: "type", "ゴールド" %}
			{% include sponsor.html sponsors=gold size=4 %}
			{% assign sponsors = site.data.sponsors | where: "type", "メディア" %}
			{% include sponsor.html sponsors=sponsors size=3 %}
		</div><!--//row-->
	</div><!--//container-->
</section><!--//sponsors-section-->
