<section id="venue-section" class="venue-section section  theme-bg-primary text-white">
	<div class="container">
		<h3 class="section-heading text-center mb-5 text-white">ベニュー</h3>
		<div class="row gx-5 py-lg-5">
			<div class="col-12 col-lg-12 h-100">
				<div class="desc">
					<h4 class="text-white mb-3">開催場所はあなたの街！</h4>
					<p>
						本カンファレンスは複数の開催場所で実施されます（6日のみ）。もちろんオンライン会場もありますが、ぜひ近くの開催場所に参加しましょう！
					</p>
					<div class="row pt-3">
						{% for venue in site.data.venues %}
							<div class="col-12 col-md-4 mb-4">
								<div class="grid-item p-4">
									<h5 class="text-white mb-4 title"><i class="fas fa-city me-2"></i>
										<a href="{{ venue.map }}" target="_blank" style="color: white;">{{ venue.name }}</a>
									</h5>
									<p>
										<i class="fas fa-map-marker-alt me-2"></i><a href="{{ venue.map }}" target="_blank" style="color: white;">{{ venue.address }}</a> {{ venue.venue }}
									</p>
								</div><!--//grid-item-->
							</div><!--col-->
						{% endfor %}
					</div>
					<h4 class="text-white mb-4 mt-3 mt-lg-5">注意事項</h4>
					<p>
						感染状況により、オンラインだけでの開催になる可能性があります。また、各自感染防止策を徹底の上、ご参加ください。会場でのソフトドリンク持ち込みは可、食事は禁止です。マスク着用、大声禁止、ソーシャルディスタンスを気をつけてください。
					</p>
					<p>詳細は行動規範をお読みください。</p>
					<a class="btn btn-ghost" href="#">行動規範</a>
				</div><!--//desc-->
			</div><!--//col-->
		</div><!--//row-->
	</div><!--//container-->
</section><!--//venue-section-->
