<section id="venue-section" class="venue-section section  theme-bg-primary text-white">
	<div class="container">
		<h3 class="section-heading text-center mb-5 text-white">ベニュー</h3>
		<div class="row gx-5 py-lg-5">
			<div class="col-12 col-lg-7 h-100">
				<div class="desc">
					<h4 class="text-white mb-3">開催場所はあなたの街！</h4>
					<p>
						本カンファレンスは複数の開催場所で実施されます（6日のみ）。もちろんオンライン会場もありますが、ぜひ近くの開催場所に参加しましょう！
					</p>
					<div class="row pt-3">
						<div class="col-12 col-md-6 mb-4">
							<div class="grid-item p-4">
								<h5 class="text-white mb-3 title"><i class="fas fa-city me-2"></i></i></i>オーガナイザー募集中！</h5>
								<p>
									各地域の開催場所を担当しませんか？運営に伴う費用は発生しません。複数人も可能です。
								</p>
								<a class="text-white" href="#">問い合わせ &rarr;</a>
							</div><!--//grid-item-->
						</div><!--col-->
						<div class="col-12 col-md-6 mb-4">
							<div class="grid-item p-4">
								<h5 class="text-white mb-3 title"><i class="fas fa-home me-2"></i>開催場所募集！</h5>
								<p>
									開催場所は10〜20人程度のイベントスペースを想定しています。貸してくださる場所があればぜひ！
								</p>
								<a class="text-white" href="#">問い合わせ &rarr;</a>
							</div><!--//grid-item-->
						</div><!--col-->
						<div class="col-12 col-md-6 mb-4">
							<div class="grid-item p-4">
								<h5 class="text-white mb-3 title"><i class="fas fa-bullhorn me-2"></i></i>聞くだけじゃない！</h5>
								<p>
									スピーカーもオンライン、オフラインどちらでも可。各地域からの登壇者も出てくるかも？
								</p>
								<a class="text-white" href="#">問い合わせ &rarr;</a>
							</div><!--//grid-item-->
						</div><!--col-->
						<div class="col-12 col-md-6 mb-4">
							<div class="grid-item p-4">
								<h5 class="text-white mb-3 title"><i class="fas fa-globe me-2"></i>日本全国をつなごう</h5>
								<p>
									コロナ禍で大人数では集まれない。だから少人数で、各地域で集まろう！
								</p>
								<a class="text-white" href="#">問い合わせ &rarr;</a>
							</div><!--//grid-item-->
						</div><!--col-->
					</div><!--//row-->
					<h4 class="text-white mb-4 mt-3 mt-lg-5">注意事項</h4>
					<p>
						感染状況により、オンラインだけでの開催になる可能性があります。また、各自感染防止策を徹底の上、ご参加ください。会場でのソフトドリンク持ち込みは可、食事は禁止です。マスク着用、大声禁止、ソーシャルディスタンスを気をつけてください。
					</p>
					<p>詳細は行動規範をお読みください。</p>
					<a class="btn btn-ghost" href="#">行動規範</a>
				</div><!--//desc-->
			</div><!--//col-->
			<div class="col-12 col-xl-3 col-lg-4 offset-lg-1 position-relative h-100 mt-5 mt-lg-0">
				<div class="figures-holder">
					<div class="figure figure-1"><img class="shadow" src="{{ site.baseurl }}/assets/images/venue/venue-1.jpg" alt=""></div>
					<div class="figure figure-2"><img class="shadow" src="{{ site.baseurl }}/assets/images/venue/venue-2.jpg" alt=""></div>
					<div class="figure figure-3"><img class="shadow" src="{{ site.baseurl }}/assets/images/venue/venue-3.jpg" alt=""></div>
					<div class="figure figure-4"><img class="shadow" src="{{ site.baseurl }}/assets/images/venue/venue-4.jpg" alt=""></div>
				</div><!--//figures-holder-->
			</div><!--//col-->
		</div><!--//row-->
	</div><!--//container-->
</section><!--//venue-section-->
